﻿@using CarRentalSystem.Web.ViewModels.Account
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="authModalLabel">Welcome to Car Rental</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-4">
                <div class="d-flex justify-content-around mb-3">
                    <button class="btn btn-outline-primary" id="showLogin">Login</button>
                    <button class="btn btn-outline-secondary" id="showRegister">Register</button>
                </div>

                <div id="loginFormContainer" class="auth-form">
                    @Html.Partial("_LoginModalPartial", new LoginViewModel())
                </div>

                <div id="registerFormContainer" class="auth-form d-none">
                    @Html.Partial("_RegisterModalPartial", new RegisterCustomerViewModel())
                    <!-- Already created -->
                </div>
            </div>
        </div>
    </div>
</div>


